*.png
__*
results
results/
logs/
build
.cache
*.npy
*.log
*.vtk
*.xdmf
*.vti
*.egg-info

fTetWild
zipped
zipped_surf
.snakemake
.vscode
.cache# pixi environments
.pixi/*
!.pixi/config.toml
pixi.lock

# FHC_CT exploration
extern/
*.vtu
fhcct_tests/*.npz
