name: Test EMI-mesh
on:
  workflow_dispatch:
  workflow_call:
  pull_request:
    branches: ["main"]
  push:
     branches: ["main"]

env:
  DEB_PYTHON_INSTALL_LAYOUT: deb_system

defaults:
  run:
    shell: bash -el {0}

jobs:
  test_scripts:
    name: test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-15-intel, macos-15]


    steps:
      - uses: actions/checkout@v4

      - name: Install Headless Plotting Libs
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y libosmesa6 libgl1

      - name: Setup conda-forge
        uses: conda-incubator/setup-miniconda@v3
        with:
          auto-activate-base: true
          activate-environment: ""
          miniforge-version: latest
          channels: conda-forge,bioconda
          conda-remove-defaults: "true"
      - name: Install snakemake
        run: |
          conda install snakemake
      - name: Run snakemake
        run: |
          snakemake --use-conda --cores 2 --resources serial_lock=1 -p --configfile ./config_files/motta2019.yml
