name: Test EMI-mesh
on:
  workflow_dispatch:
  workflow_call:
  pull_request:
    branches: ["main"]
  push:
     branches: ["main"]

env:
  DEB_PYTHON_INSTALL_LAYOUT: deb_system

defaults:
  run:
    shell: bash -el {0}

jobs:
  test_scripts:
    name: test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-15]


    steps:
      - uses: actions/checkout@v4

      #- name: Install Headless Plotting Libs
      #  if: runner.os == 'Linux'
      #  run: |
      #    sudo apt-get update
      #    sudo apt-get install -y libosmesa6 libgl1

      - name: Setup conda-forge
        uses: conda-incubator/setup-miniconda@v3
        with:
          environment-file: workflow/envs/environment.yml
          activate-environment: emimesh 
          auto-activate-base: false
          miniforge-version: latest
          channels: conda-forge,bioconda
          conda-remove-defaults: "true"
          
      # 1. Install for Linux and Windows (Includes mesalib)
      - name: Install Missing Tools (Linux/Win)
        if: runner.os != 'macOS'
        run: |
          conda install snakemake mesalib libosmesa mesa-dist-gallium pytest

      # 2. Install for macOS (Excludes mesalib)
      - name: Install Missing Tools (macOS)
        if: runner.os == 'macOS'
        run: |
          conda install snakemake pytest

      - name: Run unit tests
        run: |
          python -m pytest tests

      - name: Run snakemake
        run: |
          snakemake --cores 2 -p --configfile ./config_files/test.yml
